.local/
.production/
.staging/
**/.terraform/
**/*.tfstate*
**/*.tfplan
**/*.tfvars
**/*.tfvars.json
**/crash.log
**/crash.*.log
!**/example.tfvars
terraform/.terraform/
terraform/*.tfstate*
terraform/*.tfplan
terraform/*.tfvars
terraform/crash.log
!terraform/example.tfvars
terraform/monitor.zip
.artifacts/
__pycache__/
scripts/__pycache__/
terraform-staging/.terraform/
terraform-staging/*.tfstate*
terraform-staging/*.tfplan
terraform-staging/*.tfvars
terraform-staging/*.tfvars.json
terraform-staging/crash*
!terraform-staging/example.tfvars
terraform-notifications/.terraform/
terraform-notifications/*.tfstate*
terraform-notifications/*.tfplan
terraform-notifications/*.tfvars*
terraform-notifications/crash*
